main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    flex-direction: column;
}

.developer__bio__section--holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    border: 2px solid red;
    background-image: url("../../img/software_developer_vibe.jpg");
    width: 100vw;

}
.developer__bio--section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    margin: 1rem;

    .developer__bio__description--card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #37b7c8;
        border: 2px solid purple;
        width: 40rex;
        height: 40rex;
        flex: 50%;
        margin: 2rem;
        padding: 1rex;
    
    .developer__bio--image{

    }
        .developer__bio__title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .developer__bio__blurb {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .developer__bio--view-more {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .developer__bio--connect {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
    }
}

 @media (max-width: 750px) {
    .developer__bio__section--holder
    {
        flex-direction: column;
        flex-wrap: wrap;

        .developer__bio--section {
                flex-direction: column;
                flex-wrap: wrap;


                .developer__bio__description--card{
                    flex: 100%;
                }
    }

 }
}