@use "../utils/utils.scss";     
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    flex-direction: column;
}

.developer__bio__section--holder{
    @include footer-flex-center-row;    
    margin: 1rem;
    background-image: url("../../img/software_developer_vibe.jpg");
    width: 100vw;

}
.developer__bio--section {
    @include footer-flex-center-row; 
    width: 100vw;
    margin: 1rem;

    .developer__bio__description--card {
        @include footer-flex-center-column; 
        background-color: $developer-bio-description-card-color;
        border: 2px solid purple;
        width: 40rex;
        height: 40rex;
        flex: 50%;
        margin: 2rem;
        padding: 1rex;
    
    .developer__bio--image{

    }
        .developer__bio__title {
            @include footer-flex-center-row; 
        }

        .developer__bio__blurb {
            @include footer-flex-center-row; 
        }

        .developer__bio--view-more {
            @include footer-flex-center-row; 
        }

        .developer__bio--connect {
            @include footer-flex-center-row; 
        }
    }
}

 @media (max-width: 750px) {
    .developer__bio__section--holder
    {
        @include flex-wrap-column; 

        .developer__bio--section {
               @include flex-wrap-column; 

                .developer__bio__description--card{
                    flex: 100%;
                }
    }

 }
}