@use "../utils/utils";
.footer_text {
    background-color: utils.$footer-background-color;
    color: utils.$footer-text-color;
    @include utils.footer-flex-center-row;
    width: 100vw;
}

@media (max-width: 750px) {
    .footer_text {
        @include utils.flex-wrap-column;
    }
}