@use "../utils/utils.scss";
.navigation-header{
    @include footer-flex-center; 
    width: 100vw;

}

.navigation-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-background-color; 
    color: $header-text-color;
    flex-direction: row;
    width: 100vw;

    .navbar-logo {
            @include footer-flex-center-row; 
            margin: 1rex;

            .navigation__developer__logo{
                @include footer-flex-center-row; 
                height: 10rex;
                width: 10rex;
                padding: 1rex;
              
            }

            .navigation__developer__logo--img
            {
                @include footer-flex-center-row; 
                height: 10rex;
                width: 10rex;
          
            }
    }

            .navbar-menu-list {
                    @include footer-flex-center-row; 
                    font-size: large;
                    list-style-type: none;
                
            
                    li {
                        margin-right: 2rex;
                        padding: 1rex;
                        @include footer-flex-center-row; 
                    }
                    }
                }
    

   @media (max-width: 750px) {
       .navigation-header nav {
            @include footer-flex-center; 

        .navbar-menu-list {
            @include footer-flex-center; 
            }
       }
   }