#latest-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.latest__projects--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    padding: 1.5rex;

    .latest__project__card--title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rex;
        }
            .latest__project__card--title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rex;
            }

        .latest_projects__card--container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 1rex;
            width: 100%;
           

            .project__card--holder {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    border: 2px solid purple;
                    margin: 2rex;
                    padding: 1rex;
                    background-color: aqua;
                }
        }
        .latest__projects--button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rex;
            padding: 1rex;

        }
}



@media (max-width: 750px) {
#latest-projects 
{
    flex-direction: column;
    flex-wrap: wrap;
    .latest__projects--container {
            flex-direction: column;
            flex-wrap: wrap;
    
            .latest_projects__card--container {
                flex-direction: column;
                flex-wrap: wrap;
    
                .project__card--holder {
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }
    }
} 