@use "../utils/utils";
#latest-projects {
    @include utils.footer-flex-center-column;
}

article {
    @include utils.footer-flex-center-column;
    flex-wrap: wrap;
}

.latest__projects--container {
    @include utils.footer-flex-center-column;
    background-color: utils.$latest-project-container-color;
    padding: 1.5rex;

    .latest__project__card--title {
        @include utils.footer-flex-center;
        padding: 1rex;
    }

    .latest__project__card--title {
        @include utils.footer-flex-center;
        padding: 1rex;
    }

    .latest_projects__card--container {
        @include utils.footer-flex-center-row;
        padding: 1rex;
        width: 100%;


        .project__card--holder {
            @include utils.footer-flex-center-row;
            border: 2px solid purple;
            margin: 2rex;
            padding: 1rex;
            background-color: utils.$project-card-holder-color;
        }
    }

    .latest__projects--button {
        @include utils.footer-flex-center;
        margin-top: 2rex;
        padding: 1rex;

    }
}



@media (max-width: 750px) {
    #latest-projects {
        @include utils.flex-wrap-column;

        .latest__projects--container {
            @include utils.flex-wrap-column;

            .latest_projects__card--container {
                @include utils.flex-wrap-column;

                .project__card--holder {
                    @include utils.flex-wrap-column;
                }
            }
        }
    }
}