body{
    background-color: #d4f1f4;
}

/**Header styles**/
.navigation-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #05445E;
    margin-bottom: 2rex;
    margin-top: 0;
    width: 100%;
    color: #fff9ff;
}


.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rex;
}

.navbar-menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:large
}

ul{
    list-style-type: none;
}

li{
    margin-right: 2rex; 
    margin-left: 1rex ;
}

.developer__bio--section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./img/software_developer_vibe.jpg");
    height: 50rex;
    padding: 10rex;
}


.developer_bio_profile-image--card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid salmon;   
}

.developer__bio--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rex;
    width: 60rex;
}

.developer__bio_description--card{
    background-color: #37b7c8;
    position: relative;
    right: 15rex;
    border: 2px solid red;
    padding: 2rex;
    width: 50rex;
    height: 50rex;
    
}

.developer_bio__title{
    display: flex;
}

.developer_bio_blurb
{
    display: flexbox;
}

.developer_bio--view-more{
   display: flexbox;
}

.developer_bio--connect{
    display: flexbox;
    
}
.latest__projects--container{
    background-color: aquamarine;
    padding: 1.5rex;
}

.latest__project__card--title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest_projects__card--container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rex;
}

.project__card--holder{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    margin: 2rex;
    padding: 1rex;
    background-color: aqua;
}

.project__card--title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest__projects--button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rex;

}
.footer_text{
    background-color: #05445E;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}