$footer-background-color: #05445E;
$footer-text-color: azure;
$primary-background-color: #05445E;
$header-text-color: #fff9ff;
$base-background-color: #d4f1f4;
$developer-bio-description-card-color: #37b7c8;
$latest-project-container-color: aquamarine;
$project-card-holder-color: aqua;